<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <pages enableEventValidation="false" validateRequest="false"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms name=".ASPXFORMSAUTH" loginUrl="login.aspx" protection="All" path="/" timeout="600"></forms>
      </authentication>
      <sessionState timeout="600" mode="InProc"/>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>

  <connectionStrings>
    <add name="MySQLString" connectionString="Server=localhost;Database=contacts;Uid=contact;Pwd=contact;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

</configuration>
